--
-- PostgreSQL database dump
--

-- Dumped from database version 16.3
-- Dumped by pg_dump version 16.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: check_and_insert_company(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.check_and_insert_company() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    company_exists BOOLEAN;
BEGIN
    SELECT EXISTS(SELECT 1 FROM companies WHERE company_code = NEW.company_code) INTO company_exists;

    IF NOT company_exists THEN
        INSERT INTO companies (company_code, company_name, market_cap)
        VALUES (NEW.company_code, 'Unknown Company', 0);

        -- Masukkan data profit default
        INSERT INTO profit (year, company_code, profit_value, profit_percentage)
        VALUES (extract(year from NEW.date), NEW.company_code, 0, 0);
    END IF;

    RETURN NEW;
END;
$$;


ALTER FUNCTION public.check_and_insert_company() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: companies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.companies (
    company_code character varying(4) NOT NULL,
    sector_id integer NOT NULL,
    company_name character varying(100) NOT NULL,
    market_cap double precision NOT NULL
);


ALTER TABLE public.companies OWNER TO postgres;

--
-- Name: pricehistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pricehistory (
    date date NOT NULL,
    company_code character varying(255) NOT NULL,
    price double precision NOT NULL,
    change double precision NOT NULL,
    change_percentage double precision NOT NULL
);


ALTER TABLE public.pricehistory OWNER TO postgres;

--
-- Name: profit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.profit (
    year integer NOT NULL,
    company_code character varying(255) NOT NULL,
    profit_value double precision NOT NULL,
    profit_percentage double precision NOT NULL
);


ALTER TABLE public.profit OWNER TO postgres;

--
-- Name: sectors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sectors (
    sector_id integer NOT NULL,
    sector_name character varying(30) NOT NULL
);


ALTER TABLE public.sectors OWNER TO postgres;

--
-- Name: sectors_sector_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.sectors_sector_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sectors_sector_id_seq OWNER TO postgres;

--
-- Name: sectors_sector_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.sectors_sector_id_seq OWNED BY public.sectors.sector_id;


--
-- Name: sectors sector_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sectors ALTER COLUMN sector_id SET DEFAULT nextval('public.sectors_sector_id_seq'::regclass);


--
-- Data for Name: companies; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pricehistory; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: profit; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sectors; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sectors (sector_id, sector_name) FROM stdin;
1	Energy
2	Basic Materials
3	Industrials
4	Consumer Non-Cyclicals
5	Consumer Cyclicals
6	Healthcare
7	Financials
8	Properties and Real Estate
9	Technology
10	Infrastructure
11	Transportation and Logistics
12	Listed Investment Products
\.


--
-- Name: sectors_sector_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sectors_sector_id_seq', 1, false);


--
-- Name: companies companies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_pkey PRIMARY KEY (company_code);


--
-- Name: pricehistory pricehistory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pricehistory
    ADD CONSTRAINT pricehistory_pkey PRIMARY KEY (date, company_code);


--
-- Name: profit profit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profit
    ADD CONSTRAINT profit_pkey PRIMARY KEY (year, company_code);


--
-- Name: sectors sectors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sectors
    ADD CONSTRAINT sectors_pkey PRIMARY KEY (sector_id);


--
-- Name: sectors sectors_sector_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sectors
    ADD CONSTRAINT sectors_sector_name_key UNIQUE (sector_name);


--
-- Name: pricehistory trigger_pricehistory_insert; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_pricehistory_insert BEFORE INSERT ON public.pricehistory FOR EACH ROW EXECUTE FUNCTION public.check_and_insert_company();


--
-- Name: companies companies_sector_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_sector_id_fkey FOREIGN KEY (sector_id) REFERENCES public.sectors(sector_id);


--
-- Name: pricehistory pricehistory_company_code_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pricehistory
    ADD CONSTRAINT pricehistory_company_code_fkey FOREIGN KEY (company_code) REFERENCES public.companies(company_code);


--
-- Name: profit profit_company_code_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profit
    ADD CONSTRAINT profit_company_code_fkey FOREIGN KEY (company_code) REFERENCES public.companies(company_code);


--
-- PostgreSQL database dump complete
--

